section.socials-payment {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0.1;
		background: url('/inspect/Pattern_a.svg') no-repeat;
		transform: rotate(1turn);
	}

	display: grid;
	grid-template-columns: repeat(autofit, max-content);
	grid-template-rows: repeat(2, 100vh);

	//
	& > * {
		display: grid;
		grid-template-columns: 1.2fr 1.1fr;
		@include respond(tab-port) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
		}
	}

	div.socials {
		grid-row: 1 / 2;
		background-image: var(--socials-section-gradient);

		div.socials__info {
			grid-column: 2 / 3;
		}
		img {
			z-index: 5;
			object-fit: cover;

			@include respond(tab-land) {
				width: 40rem;
				height: 38rem;
				display: block;
			}

			@include respond(tab-port) {
				width: 30rem;
				height: 28rem;
				display: block;
			}

			@include respond(phone) {
				width: 32rem;
				height: 30rem;
				display: block;
			}

			@include respond(small-android) {
				width: 95%;
				height: 85%;
				display: block;
			}
		}
	}

	div.payment {
		grid-row: 2 / 3;
		background-image: var(--payment-section-gradient);
		img {
			z-index: 5;
			object-fit: cover;
			@include respond(tab-land) {
				width: 40rem;
				height: 30rem;
				display: block;
			}

			@include respond(tab-port) {
				width: 35rem;
				height: 26rem;
				display: block;
			}

			@include respond(phone) {
				width: 32rem;
				height: 25rem;
				display: block;
			}

			@include respond(small-android) {
				width: 95%;
				height: 85%;
				display: block;
			}
		}
	}
}
