h1.heading-primary {
	font-size: 4rem;
	font-family: var(--font-display-3);
}

h3.heading-3 {
	font-family: var(--font-display-2);
	font-size: 3.6rem;
}

h5.heading-5 {
	font-family: var(--font-display-6);
	font-size: 2rem;
}

.heading-5-9 {
	font-family: var(--default-font);
	font-size: 1.2rem;
}
.heading-6 {
	font-family: var(--default-font);
	font-size: 1.3rem;
}

.heading-6-1 {
	font-family: var(--default-font);
	font-size: 1.4rem !important;
}

.heading-6-2 {
	font-family: var(--default-font);
	font-size: 1.8rem;
}

.heading-7 {
	font-family: var(--default-font);
	font-size: 2rem;
}

.heading-8 {
	font-family: var(--default-font);
	font-size: 2.9rem;
}
